*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/server/*
!/storage/server/README.md
!/storage/server/.gitkeep
!/storage/server/nginx/
/storage/server/nginx/*
!/storage/server/nginx/.gitkeep
!/storage/server/nginx/sites-available/
/storage/server/nginx/sites-available/*
!/storage/server/nginx/sites-available/.gitkeep
!/storage/server/nginx/sites-enabled/
/storage/server/nginx/sites-enabled/*
!/storage/server/nginx/sites-enabled/.gitkeep
!/storage/server/logs/
/storage/server/logs/*
!/storage/server/logs/.gitkeep
!/storage/server/logs/nginx/
/storage/server/logs/nginx/*
!/storage/server/logs/nginx/.gitkeep
!/storage/server/logs/php*/
/storage/server/logs/php*/*
!/storage/server/logs/php*/.gitkeep
!/storage/server/php/
/storage/server/php/*
!/storage/server/php/.gitkeep
!/storage/server/www/
/storage/server/www/*
!/storage/server/www/.gitkeep
!/storage/server/pm2/
/storage/server/pm2/*
!/storage/server/pm2/.gitkeep
!/storage/server/logs/pm2/
/storage/server/logs/pm2/*
!/storage/server/logs/pm2/.gitkeep
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
